.carousel-container {
  width: 100%;
  margin: auto;
  max-width: 800px; /* keep it centered and readable */
  padding: 30px 15px;
  background-color: steelblue;
}

/* .carousel-container {
    width: 100%;        
    margin: auto;      
    max-height: 500px; 
    overflow: hidden;  
  } */
  
  .carousel-container .carousel-inner {
    height: 500px;   
    object-fit: cover; 
  }

.testimonial-box {
  text-align: center;
  padding: 20px;
}

.testimonial-text {
  font-style: italic;
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
  /* position: relative; */
}

.testimonial-text i {
  color: #daa14c; /* gold quote icon */
  margin-right: 8px;
}

.testimonial-author {
  background-color: red;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 15px; */
}

/* .test-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
} */

.author-img {
  width: 80px;             /* fixed width */
  height: 80px;            /* fixed height */
  border-radius: 50%;    
    /* make it round */
  object-fit: cover;       /* crop properly */
  object-position: center; /* keep face centered */
}

.testimonial-author h5 {
  margin: 0;
  font-weight: bold;
}

.testimonial-author small {
  color: #777;
}